<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Management</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
<div class="container">
    <h1>User Management</h1>

    <!-- Форма добавления пользователя -->
    <form th:action="@{/users}" method="post" th:object="${newUser}">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" required>
        </div>
        <button type="submit">Add User</button>


    </form>

    <!-- Таблица пользователей -->
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
        </tr>
        </tbody>
        <div class="export-section">
            <a th:href="@{/users/export/excel}" class="btn btn-export">
                <i class="fas fa-file-excel"></i> Export to Excel
            </a>
        </div>
    </table>

</div>
</body>
</html>